<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="#">stayFIT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto " id="top-navigation">
        <li class="nav-item active top-navigation-item">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item top-navigation-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item top-navigation-item">
          <a class="nav-link" href="#">Event</a>
        </li>
        <li class="nav-item top-navigation-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item dropdown top-navigation-item">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Service
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#food">Food</a>
            <a class="dropdown-item" href="#sport">Sport</a>
            <a class="dropdown-item" href="#fitness">Fitness</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!-- single-column -->
  <main>
    
       
  </main>
    <!-- footer -->
    <footer>
  <section class='footer'>
    <article class='address'>
      <h3>Address</h3>
   <small> 434 Edwin oraedu street, wuse, abuja 901101 </small>
   <small></small>
   <h3>Phone</h3>
   <small>+234*********</small>
   <h3>Email</h3>
   <small>janedoe@gmail.com</small>
    </article>
    <article class='footer-navigation '>
     <h3>{{title}}</h3>
     <ul><li>About</li>
     <li>Blog</li>
     <li>Event</li>
     <li>Contact</li>Contact</ul>
    </article>
    <article class='footer-social '>
     <ul>
       <li>facebook</li>
       <li>twitter</li>
       <li>linkedin</li>
     </ul>
    </article>
  </section>
  <div class='hr'>
    <small>  stayFIT &copy;2019.All rights reserved </small>
  </div>
  </footer>