@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers|Open+Sans&display=swap');
$logo-font-family: 'Zhi Mang Xing', cursive;

main{
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
nav {
    background-color:#9194A0 !important;
    font-family: 'Open Sans', sans-serif;
  .navbar-brand{
    font-family:  $logo-font-family;
  }
}
.single-column{
 background-color: #9194A0;

   .welcome-text{
       text-align: center;
       font-family: 'Bangers', cursive;

   }
}

.single-column figure {
    margin: 0;
    padding: 0;
    width: 50%;
    display: inline-block;
 img {
    width:100%;
    height: 40rem;
    text-align: center;
    margin-left: 0;
    border: 0;
    }

}

.multiple-columns{
display: grid;
margin-left:1rem;
margin-top: 4rem;
grid-template-columns: repeat(2, 50%);
grid-template-rows: repeat(3,40rem);
grid-template-areas: 
   "fitness-article fitness-img " 
   "food-img food-article "
   "sport-article sport-img ";

  .fitness-img{
grid-area: fitness-img;
  }
  .sport-img{
grid-area: sport-img;
  }
  .food-img{
grid-area: food-img;
  }
  .fitness-article{
grid-area: fitness-article;

  }
  .sport-article{
grid-area: sport-article;
  }
  .food-article{
grid-area: food-article;
  }

   figure{
     margin-bottom: 4rem;

   } 
   article{
    margin-bottom: 4rem;
    text-align: center;
 
   }

   figure img{
        width: 90%;
        height: 30rem;
        text-align: center;
        border-radius: .9rem;;

    
    }

    h2{
        font-family: 'Bangers', cursive;

    }

}




nav div #top-navigation{
    display: flex;
    justify-content: flex-end;
    margin-left: 60%;
}

.about{
    text-align: center;
    margin: 4rem 0; 
    font-family: 'Bangers', cursive;

}

.newsletter{
  display: flex;
  width: 50%;
  height: 15rem;
  position: absolute;
  left: 25%;
  right: auto;
  background: #ffffff;
  justify-content: space-between;
  padding: 3.9rem;

      h3{
        font-size: .9rem;
        font-weight: bold;
        color: #0B2E4E
      }

      input{
        display: block;
        height: 3.2rem;

      }

      input[type='button']{
        background-color: #0B2E4E;
        color: #fff;
        border: 0;
        width: 9rem;
        border-radius: .3rem;
      }

      input[type='email']{
        background-color: #F5FAFE;
        width: 19rem;
        margin: 1.3rem 0;
        border: 2px solid #0B2E4E;
        border-radius: .4rem;;
      }
}

footer{
  background-color: #0B2E4E;
  padding-top: 19rem;
  .hr{
    width: 900px;
    border: 0;
     border-top: 2px solid #647D8F;
     margin: auto;
     color: white;
     text-align: center;


  }
}

.footer{
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 20rem) ;
    grid-template-rows: 20rem;
    justify-content: center;

    ul {
       li{
         list-style-type: none;
       }
    }
     
    .footer-navigation{
        
        h3{
          font-family: $logo-font-family;
        }
    }

}
