<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="#">stayFIT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto " id="top-navigation">
      <li class="nav-item active top-navigation-item">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item top-navigation-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item top-navigation-item">
        <a class="nav-link" href="#">Event</a>
      </li>
      <li class="nav-item top-navigation-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item dropdown top-navigation-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Service
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#food">Food</a>
          <a class="dropdown-item" href="#sport">Sport</a>
          <a class="dropdown-item" href="#fitness">Fitness</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- single-column -->
<main>
  <section class='single-column container-fluid'>
    <figure class='container-fluid'>
      <img class='single-img' src="../../assets/images/main2.jpg" alt=" " srcset=""> 
    </figure>
    <figure class='welcome-text'>
      <h1>Welcome to {{title}}</h1>
      <h2>Change Your Life By Staying Fit</h2>
      <p>Made For Life, For Long Life ,and Good Life</p>
      <input type="button" value="SIGN UP">
    </figure>
  </section>
  <article class='about'>
    <img src="" alt="" srcset="">
    <h2>
      About Us
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt a eveniet ab iste, atque vel.</p>
  </article>

  <!-- multiple columns -->
  <section class=' mt-5 multiple-columns'>
    <figure class='food-img'>
      <img src="../../assets/images/s-o-c-i-a-l-c-u-t-uA6SsagmA5A-unsplash.jpg" alt="" srcset="">
    </figure>
    <figure class=' sport-img '>
      <img src="../../assets/images/jenny-hill-mQVWb7kUoOE-unsplash.jpg" alt="" srcset="">
    </figure>
    <figure class='fitness-img'>
      <img src="../../assets/images/luke-chesser-rCOWMC8qf8A-unsplash.jpg" alt="" srcset="">
    </figure>

    <!-- About  -->
    <article class=' food-article' id='food'>
      <h2>
        Food
      </h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur modi perspiciatis animi quisquam incidunt
        quos!</p>
        <input type="button" value="GET STARTED">
    </article>
    <!-- promition -->
    <article class='sport-article' id='sport'>
      <h2>
        Sport
      </h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur modi perspiciatis animi quisquam incidunt
        quos!</p>
        <input type="button" value="GET STARTED">
    </article>
    <article class='fitness-article' id='fitness'>
      <h2>
        Fitness
      </h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur modi perspiciatis animi quisquam incidunt
        quos!</p>
        <input type="button" value="GET STARTED">
    </article>
  </section>
  
</main>
  <!-- footer -->
<footer class=''>
  <article class='address'>
    <h3>Address</h3>
 <small> 434 Edwin oraedu street, wuse, abuja 901101 </small>
 <small></small>
 <h3>Phone</h3>
 <small>+234*********</small>
 <h3>Email</h3>
 <small>janedoe@gmail.com</small>
  </article>
  <article class='footer-navigation '>
   <h3>{{title}}</h3>
   <ul><li>About</li>
   <li>Blog</li>
   <li>Event</li>
   <li>Contact</li>Contact</ul>
  </article>
  <article class='footer-social '>
   <ul>
     <li>facebook</li>
     <li>twitter</li>
     <li>linkedin</li>
   </ul>
  </article>

  <hr>
</footer>
